/*********************************/
/*             Menu              */
/*===============================*/
.navbar {
  @apply fixed top-0 start-0 end-0 z-999 bg-transparent py-3 transition-all duration-500 font-inter;
  .navigation {
      @apply w-full m-0;
      .navbar-nav {
          @apply mt-4 flex flex-row overflow-y-scroll h-24;
          .nav-link {
              @apply block p-3 text-slate-900 hover:text-primary dark:text-white/60 dark:hover:text-white;
          }
          .active {
              .nav-link {
                  @apply text-primary dark:text-white;
              }
          }
      }
  }
  .navbar-brand {
      @apply me-10 p-0;
      .l-dark,
      .logo-dark-mode {
          @apply hidden w-36 lg:w-48 py-2;
      }
      .l-light,
      .logo-light-mode {
          @apply inline-block w-36 lg:w-48 py-2;
      }
      @media (max-width: 991.98px) {
          .l-dark {
              @apply !inline-block;
          }
          .l-light {
              @apply !hidden;
          }
      }
  }
  .menu-social {
      .login-btn-primary {
          @apply hidden;
      }
      .login-btn-light {
          @apply inline-block;
      }

      @media (max-width: 991.98px) {
          .login-btn-primary {
              @apply !inline-block;
          }
          .login-btn-light {
              @apply !hidden;
          }
      }
  }
  &.is-sticky {
      @apply bg-white dark:bg-slate-900 shadow-sm dark:shadow-slate-800;
      .navbar-brand {
          .l-dark {
              @apply inline-block w-36 lg:w-48 py-2;
          }
          .l-light {
              @apply hidden;
          }
      }

      .menu-social {
          .login-btn-primary {
              @apply inline-block;
          }
          .login-btn-light {
              @apply hidden;
          }
      }
  }
}

@media (min-width: 992px){
    .navbar {
        @apply py-3;
        .navigation {
            @apply flex w-auto;
            .navbar-nav {
                @apply h-auto mt-0 overflow-visible;
                .nav-link {
                    @apply border-0 hover:bg-transparent;
                }

                &.nav-light {
                    .nav-link {
                        @apply block p-3 text-white/60 hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-white;
                        }
                    }
                }
            }
        }

        .nav-icons {
            .collapse-btn {
                @apply hidden;
            }
        }
        &.is-sticky {
            @apply py-3;
            .navbar-nav {
                /* .nav-link {
                    @apply text-slate-900 dark:text-white;
                } */
                .active {
                    .nav-link {
                        @apply text-primary;
                    }
                }

                &.nav-light {
                    .nav-link {
                        @apply text-slate-900 hover:text-primary dark:text-white/60 dark:hover:text-white;
                    }
                    .active {
                        .nav-link {
                            @apply text-primary dark:text-white;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
  .navbar {
      @apply bg-white dark:bg-slate-900 !shadow-sm dark:shadow-slate-800;
      .navigation {
          .navbar-nav {
              @apply block h-[21.25rem];
              .nav-link {
                  @apply text-slate-900 dark:text-white;
              }
              .active {
                  .nav-link {
                      @apply text-primary;
                  }
              }
              .menu-social {
                  @apply !mb-5;
              }
          }
      }
  }
}