
/*********************************/
/*             Helper            */
/*===============================*/
.container,
.contacinr-fluid {
    @apply relative;
}

.text-type-element {
    @apply z-2 after:content-[''] after:absolute after:h-1 after:w-auto after:bg-primary-300 after:end-0 after:bottom-0 after:start-0 after:z-0 after:rounded-md after:transition-all after:duration-300 after:ease-in-out;
}

/*********************************/
/*         Tobii Lightbox        */
/*===============================*/
/* Tobii Lighbox */
.tobii>button.tobii__close svg,
.tobii>button.tobii__prev svg, 
.tobii>button.tobii__next svg {
    @apply size-auto;
}

.tobii__counter {
    @apply text-base;
}

.tobii-zoom {
    @apply block;
}

.tobii-zoom__icon {
    @apply hidden;
}

#grid {
    @apply p-0;
}



/*****************/
/* Subscribe Form */
/*****************/
.subcribe-form {
    form {
        @apply max-w-xl;
        input {
            @apply p-6 pe-40 w-full h-11 outline-none text-slate-900;
        }
    }
}

/*****************/
/*    Shapes     */
/*****************/
/* Shapes */
.shape {
    @apply absolute start-0 end-0 -bottom-px;
    &>svg {
        @apply w-full h-auto;
        transform: scale(2);
        transform-origin: theme('transformOrigin.top') theme('transformOrigin.center');
    }
}

/*****************/
/*  back-to-top  */
/*****************/
/* .back-to-top {
    @apply hidden;
} */



/*****************/
/*  Bg Video Hero  */
/*****************/
.bg-video-wrapper {
    @apply absolute top-0 start-0 w-full h-full z-0 pointer-events-none overflow-hidden;
    iframe {
        @apply absolute top-1/2 start-1/2 ltr:-translate-x-1/2 rtl:translate-x-1/2 -translate-y-1/2 w-screen h-[56.25vw] min-h-screen min-w-[177.77vw];
    }
}
/*****************/
/*    Switcher   */
/*****************/
.label {
    .ball {
        transition: transform 0.2s linear;
        @apply translate-x-0;
    }
}

.checkbox:checked + .label .ball {
	@apply translate-x-6;
}


/*****************/
/*   Preloader   */
/*****************/
#preloader {
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    z-index: 99999;
    @apply fixed inset-0;
    #status {
        @apply absolute start-0 end-0 top-1/2 -translate-y-1/2;
        .spinner {
            @apply w-10 h-10 relative my-[100px] mx-auto;
            .double-bounce1, .double-bounce2 {
                @apply w-full h-full rounded-full bg-primary/60 absolute top-0 start-0;
                animation: sk-bounce 2.0s infinite ease-in-out;
            }
            .double-bounce2 {
                animation-delay: -1.0s;
            }
        }
    }
}

@keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
    }
}

/* video iframe */
@media (max-width: 640px) {
    [data-type] iframe, [data-type] video {
        width: 500px;
        height: 300px;
    }
}

@media (max-width: 425px) {
    [data-type] iframe, [data-type] video {
        width: 360px;
        height: 260px;
    }
}

@media (max-width: 375px) {
    [data-type] iframe, [data-type] video {
        width: 100%;
        height: auto;
    }
}

/*****************/
/*  Swiper Slider     */
/*****************/
.swiper-slider-hero {
    .swiper-button-next, 
    .swiper-rtl .swiper-button-prev,
    .swiper-button-prev, 
    .swiper-rtl .swiper-button-next {
        @apply after:hidden;
    }
    .swiper-pagination-bullet {
        @apply text-gray-50 bg-transparent;
    }
    .swiper-pagination-bullet-active {
        @apply text-white;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        @apply bottom-[45px];
    }
    .swiper-container-horizontal {
        > .swiper-pagination-bullets {
            .swiper-pagination-bullet {
                @apply my-0 mx-[13px];
            }
        }
    }

    .swiper-navigation-icon {
        @apply hidden;
    }
}